# Created by https://www.toptal.com/developers/gitignore/api/netbeans,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans,vscode

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/netbeans,vscode
